@if (post(); as post) {
    @if (isPost(post)) {
        <section class="limit-content-width-container">
            <h1 routerLink="./">{{ post.title }}</h1>
            <p class="date">{{ post.date | date: 'longDate' }}</p>
            <div
                [innerHTML]="post.htmlContent | safeHtml"
                appPrismHighlight
                (click)="processLinks($event)"
            ></div>

            <hr />
            <a
                routerLink="/blog"
                #backLink
                >← Back to Blog List</a
            >
        </section>

        @defer (on viewport(backLink)) {
            <section class="limit-content-width-container">
                <h2>Add new comment</h2>
                <app-comment-form></app-comment-form>
                <h2>Comments</h2>
                @for (comment of post.comments; track comment.date; let i = $index) {
                    <app-comment
                        [commentData]="comment"
                        [index]="i"
                    ></app-comment>
                } @empty {
                    <p>No comments yet. Be the first to comment!</p>
                }
            </section>
        }
    } @else {
        <p>Sorry, this post could not be loaded or was not found.</p>
        <a routerLink="/blog">← Back to Blog List</a>
    }
} @else {
    <!-- p>Loading post...</p -->
}
