@if (post$ | async; as post) {
    @if (post) {
        <article class="blog-post-content">
            <h1>{{ post.title }}</h1>
            <p class="date">{{ post.date | date: 'longDate' }}</p>
            <div [innerHTML]="postContent()"></div>

            <hr />
            <a routerLink="/blog">← Back to Blog List</a>
        </article>
    } @else {
        <p>Sorry, this post could not be loaded or was not found.</p>
        <a routerLink="/blog">← Back to Blog List</a>
    }
} @else {
    <p>Loading post...</p>
}
