:host {
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 1fr 120px;
    gap: 12px 24px;
    grid-template-areas:
        '. actions rules'
        'players actions games'
        '. actions .';
    justify-items: stretch;
    align-items: stretch;
    align-content: start;
    padding: 24px;
    height: calc(100vh - 80px);
    width: calc(100% - 48px);
}

.rules {
    grid-area: rules;
    display: flex;
    justify-content: flex-end;
}

.players {
    grid-area: players;
}

.games {
    grid-area: games;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding: 16px;
    border: 1px solid #dee2e6;
    background: var(--light-background-color);

    &--disabled {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 1.5rem;
        margin: -16px 0 0 -16px;
        display: grid;
        align-content: center;
        justify-content: center;
    }

    .actions-card-content-wrapper {
        display: grid;
        height: 100%;
        width: 100%;
        overflow: hidden;
        grid-template-rows: auto 1fr;

        mat-list {
            overflow: auto;
        }
    }
}

.mat-card-content {
    overflow: auto;
    margin: 0 -16px;
    padding: 4px 16px;
}

.actions {
    grid-area: actions;
}

.fixed-card-button {
    position: absolute;
    top: 8px;
    right: 12px;
}

.list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    display: block;
    width: calc(100% - 2px);

    &--small {
        max-height: 340px;
    }
}

.list-entry {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    overflow: hidden;

    &--nested-list {
        padding: 0 10px;
    }

    &--preview {
        padding: 14px 10px;
        width: 200px;
    }

    &--special-game {
        background-color: #fff8e1;
    }
}

.horizontal-list {
    width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}

.horizontal-box {
    padding: 20px 10px;
    border-right: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    flex-grow: 1;
    flex-basis: 0;

    &:last-child {
        border-right: none;
    }
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form {
    margin-bottom: 24px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow:
        0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
    height: 30px;
    padding: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging .list-entry:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

mat-checkbox {
    margin-bottom: 16px;
}
