<section class="container">
    <mat-card class="card players mat-elevation-z4">
        <mat-card-title>
            Players
            <button
                mat-mini-fab
                color="primary"
                (click)="toggleAddPlayerForm()"
                class="fixed-card-button"
            >
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-title>
        <mat-card-subtitle>List of all players</mat-card-subtitle>
        <mat-card-content>
            <div class="content-wrapper">
                @if (isAddingPlayerOpen) {
                    <form
                        (submit)="saveNewPlayer()"
                        class="content-wrapper"
                    >
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="newPlayerName"
                                name="playerName"
                            />
                        </mat-form-field>
                        <button
                            matButton="elevated"
                            color="primary"
                            (click)="saveNewPlayer()"
                            type="submit"
                            class="display-block"
                        >
                            Add
                        </button>
                    </form>
                } @else {
                    <div
                        cdkDropList
                        #playersList="cdkDropList"
                        [cdkDropListConnectedTo]="[placementsList]"
                        [cdkDropListData]="availablePlayers"
                        class="list"
                        cdkDropListSortingDisabled
                    >
                        @for (item of availablePlayers; track item) {
                            <div
                                class="list-entry"
                                cdkDrag
                                (click)="selectPlayer(item)"
                            >
                                {{ item.name }}
                                <div
                                    *cdkDragPreview
                                    class="list-entry list-entry--preview"
                                >
                                    {{ item.name }}
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </mat-card-content>
        @if (playedGame === null) {
            <div class="card--disabled">Please select a game first</div>
        }
    </mat-card>
    <mat-card class="card games mat-elevation-z4">
        <mat-card-title>
            Games
            <button
                mat-mini-fab
                color="primary"
                (click)="toggleAddGameForm()"
                class="fixed-card-button"
            >
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-title>
        <mat-card-subtitle>List of all games</mat-card-subtitle>
        <mat-card-content>
            <div class="content-wrapper">
                @if (isAddingGameOpen) {
                    <form
                        (submit)="saveNewGame()"
                        class="content-wrapper"
                    >
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="newGameName"
                                name="gameName"
                            />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Duration</mat-label>
                            <input
                                matInput
                                type="text"
                                [(ngModel)]="newGameDuration"
                                name="gameDuration"
                            />
                        </mat-form-field>
                        <mat-checkbox
                            [(ngModel)]="newGameIsCoopGame"
                            name="isCoopGame"
                            color="primary"
                            >Co-op game</mat-checkbox
                        >
                        <div class="button-group">
                            <button
                                matButton="elevated"
                                color="warn"
                                (click)="toggleAddGameForm()"
                                type="button"
                            >
                                Cancel
                            </button>
                            <button
                                matButton="elevated"
                                color="primary"
                                (click)="saveNewGame()"
                                type="submit"
                            >
                                Add
                            </button>
                        </div>
                    </form>
                } @else {
                    <div class="list">
                        @for (item of games; track item) {
                            <div
                                class="list-entry list-entry--clickable"
                                [class.list-entry--special-game]="item.isSpecialGame"
                                (click)="selectGame(item)"
                                (contextmenu)="onGameRightClick($event, item, gameMenuTrigger)"
                            >
                                {{ item.name }} ({{ item.duration }})
                                @if (item.isCoopGame) {
                                    <mat-icon>groups</mat-icon>
                                }
                                <span
                                    class="context-menu-trigger"
                                    [matMenuTriggerFor]="gameContextMenu"
                                    #gameMenuTrigger="matMenuTrigger"
                                ></span>
                            </div>
                        }
                    </div>
                    <mat-menu #gameContextMenu="matMenu">
                        <button mat-menu-item (click)="toggleSpecialGame()">
                            Toggle special game
                        </button>
                    </mat-menu>
                }
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="card actions mat-elevation-z4">
        <mat-card-title>Gameresult</mat-card-title>
        <mat-card-subtitle>Individual game results will be added here</mat-card-subtitle>
        <mat-card-content class="actions-card-content-wrapper">
            <section>
                <h2>Players</h2>
                <div
                    cdkDropList
                    #placementsList="cdkDropList"
                    [cdkDropListData]="placements"
                    class="list"
                    (cdkDropListDropped)="dropPlayer($event)"
                >
                    @for (placement of placements; track placement; let i = $index) {
                        <div
                            class="list-entry list-entry--nested-list"
                            cdkDrag
                        >
                            {{ i + 1 }}.
                            <div
                                cdkDropList
                                cdkDropListOrientation="horizontal"
                                class="horizontal-list"
                                (cdkDropListDropped)="dropPlayer($event)"
                                [cdkDropListConnectedTo]="[placementsList]"
                                cdkDropListSortingDisabled
                            >
                                @for (player of placement; track player) {
                                    <div
                                        class="horizontal-box"
                                        cdkDrag
                                        [cdkDragData]="i"
                                        (cdkDragDropped)="handleDropOutOfBound($event)"
                                    >
                                        {{ player.name }}
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
                <h2 class="section-heading">Game</h2>
                <div class="list">
                    @if (playedGame) {
                        <div
                            class="list-entry list-entry--not-clickable"
                            [class.list-entry--special-game]="playedGame && playedGame.isSpecialGame"
                        >
                            {{ playedGame.name }} ({{ playedGame.duration }})
                            @if (playedGame.isCoopGame) {
                                <mat-icon>groups</mat-icon>
                            }
                        </div>
                    }
                </div>
                <div class="game-actions">
                    <button
                        matButton="elevated"
                        color="warn"
                        (click)="clearPlayedGame()"
                    >
                        Clear
                    </button>
                    <button
                        matButton="elevated"
                        color="primary"
                        (click)="savePlayedGame()"
                    >
                        Save
                    </button>
                </div>

                <h2 class="section-heading-large">Last entries</h2>
            </section>
            <mat-list>
                @for (playedGame of lastPlayedGames; track playedGame.timestamp) {
                    <mat-list-item class="last-entry-item">
                        <span matListItemTitle>{{ playedGame.game.name }}</span>
                        <span matListItemLine>{{ getTimeFromTimestamp(playedGame.timestamp) }}</span>
                        <span matListItemLine>{{ getPlayersFromPlacements(playedGame.placements) }}</span>
                    </mat-list-item>
                }
            </mat-list>
        </mat-card-content>
    </mat-card>
</section>
