<header>
    <section class="header">
        <h1>
            <a routerLink="/" class="link">
                <span class="link--top">Developapa</span>
                <span class="link--bottom">Developapa</span>
            </a>
        </h1>
        <img
            priority
            ngSrc="assets/icon-small.png"
            alt="Developapa Logo"
            [width]="150"
            [height]="150"
        />
    </section>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <p>© {{ currentYear() }} Developapa</p>
</footer>
