<h1>Blog Posts</h1>

<ng-container *ngIf="posts$ | async as posts; else loading">
    <ul *ngIf="posts.length > 0; else noPosts">
        <li
            *ngFor="let post of posts"
            class="post-summary"
        >
            <h2>
                <a [routerLink]="['/blog', post.slug]">{{ post.title }}</a>
            </h2>
            <p class="date">{{ post.date | date: 'longDate' }}</p>
            <!-- Format date -->
            <p class="description">{{ post.description }}</p>
            <a
                [routerLink]="['/blog', post.slug]"
                class="read-more"
                >Read More →</a
            >
        </li>
    </ul>
    <ng-template #noPosts>
        <p>No blog posts found yet.</p>
    </ng-template>
</ng-container>

<ng-template #loading>
    <p>Loading posts...</p>
</ng-template>
