<ag-grid-angular
  #agGrid
  style="width: 100%; height: 1100px;"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  (sortChanged)="onSortChanged($event)"
>
</ag-grid-angular>

<h1>Total Unique Games: {{totalUniqueGames.size}}</h1>
<h1>Total Games: {{totalGames}}</h1>

@for (player of players; track player.name) {
  <h2>{{player.name}}</h2>
  <ul>
    @for (entry of gamesPerPlayer.get(player.name); track entry) {
      <li>{{entry[0].game.name}}: {{entry[1]}}. Platz</li>
    }
  </ul>

}
