.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "players games"
    "playedGames playedGames";
  gap: 12px 24px;
  justify-items: stretch;
  align-items: stretch;
  align-content: start;
  padding: 24px;
  height: calc(100vh - 48px);
  width: calc(100% - 48px);
}

.players {
  grid-area: players;
}
.games {
  grid-area: games;
}
.playedGames {
  grid-area: playedGames;
}

.card {
    overflow: hidden;
    padding: 16px;
    border: 1px solid #dee2e6;
    background: var(--light-background-color);
}

textarea {
  width: calc(100% - 32px);
  height: 300px;
}
